# Ignore artifacts:
build
coverage
/node_modules
dist
# Ignore all log files and temp files:
*.log
*.tmp
# Ignore all files in the following directories:
/types
/public
**/.git
**/.svn
**/.hg
**/node_modules